@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.product-table::-webkit-scrollbar {
  display: none;
}

.product-table {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}



* {
  scroll-behavior: smooth;
}

.transition-time{
  transition: 0.5s ease-in-out;
}

.swal2-confirm {
  background-color: #000000 !important;
  color: white !important;
  border-color: #000000 !important;
} 

.swal2-confirm:focus {
  box-shadow: none !important;
}

.confirm-delete {
  background-color: #C62828 !important;
  color: white !important;
  border-color: #000000 !important;
}



